<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Prêmios</h1>
      <p>Escolha sua sorte</p>
    </div>
    <div class="col-12">
      <%= link_to auctions_product_url(@product) do %>
        <div class="card mb-3">
          <%= image_tag 'kit-product', class: 'card-img-top', alt: '' %>
          <div class="card-body">
            <h5 class="card-title">
              <%= @product.title -%>
            </h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">
              <p class="card-text">
                <small class="text-body-secondary">Adquira já</small>
              </p>
            </p>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
  <div></div>
</div>
