<%= render layout: 'backoffice/shared/layout', locals: { page: 'supplies' } do %>
  <div id="page-dashboard" class="container-fluid mt-3">
    <div class="page-header">
      <%= fa_icon "download fw" %>
      <span>Materiais de Apoio</span>
    </div>
    <div class="card mb-3">
      <h6 class="card-header">
        <%= fa_icon "filter fw" %><span>Filtro</span>
      </h6>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-lg-4">
            <label for="filter_actived" class="form-label">Procurar</label>
            <input type="text" class="form-control" id="filter_actived" placeholder="Ativo" aria-label="Ativo" />
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#868e96"></rect>
              </svg>
              <div class="card-body">
                <h5 class="card-title">Apresentação de Negócio</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Baixar material</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#868e96"></rect>
              </svg>
              <div class="card-body">
                <h5 class="card-title">Folhetos de eventos</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Baixar material</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- end %>
