// Place all the styles related to the backoffice/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#page-dashboard {
  .generic-blocks .items {
    min-height: 90px;
  }
  
  .generic-blocks .items:not(.hz) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto
  }
  
  .generic-blocks .items>a,.generic-blocks .items>div:not(.load),.generic-blocks .loadError {
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 250px;
    width: 100%;
    height: 80px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    position: relative
  }
  
  .generic-blocks .items>a,.generic-blocks .items>div:not(.load) {
    display: block;
    transition: box-shadow .15s ease-out,transform .15s ease-out;
    text-decoration: none;
    margin: 0 0 .75rem 0
  }
  
  .generic-blocks .items>a:hover,.generic-blocks .items>div:not(.load):hover {
    transform: translateY(-3px);
    box-shadow: 0 1.8px .8px -6px rgba(0,0,0,.074),0 3.8px 1.4px -6px rgba(0,0,0,.106),0 6.6px 2px -6px rgba(0,0,0,.137),0 12px 4px -6px rgba(0,0,0,.21)
  }
  
  .generic-blocks .items>a:hover i,.generic-blocks .items>div:not(.load):hover i {
    opacity: 1
  }
  
  .generic-blocks .items:not(.hz)>a,.generic-blocks .items:not(.hz)>div:not(.load) {
    margin: 0 .75rem
  }
  
  .generic-blocks .items:not(.hz)>a:first-child,.generic-blocks .items:not(.hz)>div:not(.load):first-child {
    margin-left: 0
  }
  
  .generic-blocks .items:not(.hz)>a:last-child,.generic-blocks .items:not(.hz)>div:not(.load):last-child {
    margin-right: 0
  }
  
  .generic-blocks .loadError {
    width: 250px;
    height: 70px;
    margin: 25px auto
  }
  
  .generic-blocks .items i,.generic-blocks .loadError>i {
    position: absolute;
    top: 13px;
    left: 10px;
    font-size: calc(30px + 1vw);
    opacity: .4;
    transition: opacity .15s ease-out
  }
  
  .generic-blocks .items strong,.generic-blocks .loadError strong {
    display: block;
    font-size: 20px;
    margin-top: 5px
  }
  
  .generic-blocks .loadError strong {
    margin-top: 0
  }

  .bg-gradient-1 {
    background-color: #ed5565;
    background-image: linear-gradient(135deg, #ED5565 0%, #D52739 100%)
  }
  
  .bg-gradient-2 {
    background-color: #fc6e51;
    background-image: linear-gradient(135deg, #FC6E51 0%, #DA391E 100%)
  }
  
  .bg-gradient-3 {
    background-color: #ffd97b;
    background-image: linear-gradient(135deg, #FFD97B 0%, #F6A742 100%)
  }
  
  .bg-gradient-4 {
    background-color: #a0d468;
    background-image: linear-gradient(135deg, #A0D468 0%, #6DAE26 100%)
  }
  
  .bg-gradient-5 {
    background-color: #48cfad;
    background-image: linear-gradient(135deg, #48CFAD 0%, #19A783 100%)
  }
  
  .bg-gradient-6 {
    background-color: #4ec1e9;
    background-image: linear-gradient(135deg, #4EC1E9 0%, #0B9AD0 100%)
  }
  
  .bg-gradient-7 {
    background-color: #5d9bec;
    background-image: linear-gradient(135deg, #5D9BEC 0%, #0D64D7 100%)
  }
  
  .bg-gradient-8 {
    background-color: #ab92ec;
    background-image: linear-gradient(135deg, #AB92EC 0%, #7454C3 100%)
  }
  
  .bg-gradient-9 {
    background-color: #ec87bf;
    background-image: linear-gradient(135deg, #EC87BF 0%, #BE4C90 100%)
  }
  
  .bg-gradient-10 {
    background-color: #ecf0f6;
    background-image: linear-gradient(135deg, #ECF0F6 0%, #C9D6E8 100%)
  }
  
  .bg-gradient-11 {
    background-color: #ccd1d9;
    background-image: linear-gradient(135deg, #CCD1D9 0%, #8F99A7 100%)
  }
  
  .bg-gradient-12 {
    background-color: #656d77;
    background-image: linear-gradient(135deg, #656D77 0%, #2F363F 100%)
  }
}