// Place all the styles related to the admins/auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

.page-header {
  margin: 0px 0px 30px 0px;

  .fa {
    font-size: 36px;
    margin: 10px 15px 0 0;
  }

  span {
    font-size: clamp(20px, 5vw, 28px);
    font-weight: 700;
  }
}



.form-signup {
  width: 100%;
  max-width: 960px;
  padding: 15px;
  margin: auto;
}

.form-signup .checkbox {
  font-weight: 400;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.admin-layout {
  background-color: inherit;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  .admin-header {
    display: block;

    .navbar-default {
      background-color: #fff;
      border-bottom: solid 1px #dedada;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
      margin: 0px;
      padding: 0px;
    }

    .notifications-dropdown {
      width: 400px;
      right: 0;
      left: auto;
    }
  }

  .admin-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    height: calc(100% - 52px);

    .admin-sidebar {
      position: absolute;
      background-color: $primary-color;
      color: #fff;
      top: 0;
      bottom: 0;
      left: 0;
      float: left;
      width: $admin-sidebar-width;
      z-index: 1;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transition: left 0.3s ease-in-out;
      -moz-transition: left 0.3s ease-in-out;
      -o-transition: left 0.3s ease-in-out;
      transition: left 0.3s ease-in-out;
      box-shadow: inset 0px 5px 0px 0px rgb(5, 54, 127);
  
      .head {
        display: block;
        width: 100%;
        min-height: 100px;
        background-color: #f8f8fb;
      }
  
      .menu {
        padding: 20px  16px 0px 16px;
        box-shadow: inset 0px 5px 0px 0px #05367f;

        .menu-list {
          display: block;
          list-style: none;
          padding: 0px;
          margin: 0px;

          .menu-item {
            font-size: 15px;
            font-weight: normal;
          }
  
          .menu-link {            
            position: relative;
            cursor: pointer;
            display: block;
            width: 100%;
            text-decoration: none;
            padding: 10px 0;
            white-space: nowrap;
            outline: none;
            background-color: transparent;
            border: none;
            border-radius: 3px;
            box-sizing: border-box;
            color: inherit;
            /* border-bottom: 1px solid rgba(255, 255, 255, 0.09); */
            touch-action: manipulation;
            line-height: 1.42857143;
  
            &:hover {
              background-color: #336abb;
              fill: #336abb;
              /* box-shadow: inset 4px 0px 0px 0px $secondary-color; */
            }

            &.active {
              background-color: rgb(5, 54, 127);
              fill: rgb(5, 54, 127);
            }

            .fa {
              position: relative;
              left: 10px;
              font-size: 1.3em;
            }

            .text {
              position: relative;
              top: -2px;
              left: 15px;
              font-size: inherit;
              font-weight: inherit;
              transition: left 500ms cubic-bezier(0.2, 1, 0.22, 1);
            }
          }
        }
      }
    }

    .admin-content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-left: $admin-sidebar-width !important;
      -webkit-transition: padding-left 0.3s ease-in-out;
      -moz-transition: padding-left 0.3s ease-in-out;
      -o-transition: padding-left 0.3s ease-in-out;
      transition: padding-left 0.3s ease-in-out;
    }
  }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    font-size: 150% !important;
  }
}

/*
 * jQuery File Upload UI Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * https://opensource.org/licenses/MIT
 */

.progress-animated .progress-bar,
.progress-animated .bar {
  background: url('../img/progressbar.gif') !important;
  filter: none;
}
.fileupload-process {
  float: right;
  display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
  display: block;
  width: 32px;
  height: 32px;
  background: url('../img/loading.gif') center no-repeat;
  background-size: contain;
}
.files audio,
.files video {
  max-width: 300px;
}
.files .name {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.files .preview {
  width: 80px;
  height: 80px;
  position: relative;

  a {
    display: block;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.files button {
  margin-bottom: 5px;
}
.toggle[type='checkbox'] {
  transform: scale(1);
  margin-left: 10px;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .btn {
    margin-bottom: 5px;
  }
  .fileupload-buttonbar .delete,
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
}

@media (max-width: 480px) {
  .files .image td:nth-child(2) {
    display: none;
  }
}
